<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>

		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="index.html" />
				<add value="default.html" />
				<add value="default.asp" />
				<add value="index.asp" />
			</files>
		</defaultDocument>

		<httpErrors errorMode="Custom" defaultResponseMode="File">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" subStatusCode="-1" path="/index.asp" responseMode="ExecuteURL" />
			<remove statusCode="500" subStatusCode="100" />
			<error statusCode="500" subStatusCode="100" path="/500.asp" responseMode="ExecuteURL" />
		</httpErrors>

		<rewrite>
            <rules>
				<clear />
                <rule name="loadStyleCss" stopProcessing="true">
                    <match url="^(.*)/?loadStyle\.css$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/loadStyle.asp" />
                </rule>

                <rule name="loadScriptJs" stopProcessing="true">
                    <match url="^(.*)/?loadScript\.js$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/loadScript.asp" />
                </rule>

                <rule name="OldStyle404" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="/index.asp?404;http://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                </rule>

				<rule name="non www to www" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^www\.([.a-zA-Z0-9\-]+)$" negate="true" />
					</conditions>
					<action type="Redirect" url="http://www.{HTTP_HOST}/{R:0}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>

        <security>
             <requestFiltering allowDoubleEscaping="true">
                <requestLimits maxAllowedContentLength="104857610" />
            </requestFiltering>
        </security>

        <staticContent>
			<remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
        </staticContent>

    </system.webServer>
</configuration>