/* editors */
.htmleditors {
	width:100%;
/*
	border-style:solid;
	border-width:1px;
	border-collapse:separate;
	border-color:#dfdfdf;
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-top-right-radius:6px;
	-webkit-border-top-left-radius:6px;
	-khtml-border-top-right-radius:6px;
	-khtml-border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-top-left-radius:6px;
*/
}
.htmleditors textarea {
	margin:0;
	padding:6px;
	line-height:150%;
	border:0 none;
	outline:none;
	resize:vertical;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-khtml-box-sizing:border-box;
	box-sizing:border-box;
}


/* wp_theme/ui.css */
.energy2Skin table,
.energy2Skin tbody,
.energy2Skin a,
.energy2Skin img,
.energy2Skin tr,
.energy2Skin div,
.energy2Skin td,
.energy2Skin iframe,
.energy2Skin span,
.energy2Skin *,
.energy2Skin .mceText {
	border:0;
	margin:0;
	padding:0;
	white-space:nowrap;
	text-decoration:none;
	font-weight:normal;
	cursor:default;
	vertical-align:baseline;
	width:auto;
	border-collapse:separate;
}

.energy2Skin a:hover,
.energy2Skin a:link,
.energy2Skin a:visited,
.energy2Skin a:active {
	text-decoration:none;
	font-weight:normal;
	cursor:default;
}

.energy2Skin table td {
	vertical-align:middle;
}

.energy2Skin *,
.energy2Skin a:hover,
.energy2Skin a:link,
.energy2Skin a:visited,
.energy2Skin a:active {
	color:#000;
}

/* Containers */
.energy2Skin table {}

.energy2Skin iframe {
	display:block;
}

.energy2Skin #mce_fullscreen_ifr {
	background-color:#fff;
}

.energy2Skin .mceToolbar {
	padding:1px;
}

/* External */
.energy2Skin .mceExternalToolbar {
	position:absolute;
	border-bottom:0;
	display:none;
}

.energy2Skin .mceExternalToolbar td.mceToolbar {
	padding-right:13px;
}

.energy2Skin .mceExternalClose {
	position:absolute;
	top:3px;
	right:3px;
	width:7px;
	height:7px;
	background:url("../../img/icons.gif") -820px 0;
}

/* Layout */
.energy2Skin table.mceToolbar,
.energy2Skin tr.mceFirst .mceToolbar tr td,
.energy2Skin tr.mceLast .mceToolbar tr td {
	border:0;
	margin:0;
	padding:0;
}

.energy2Skin table.mceLayout {
	border:0;
}

.energy2Skin .mceStatusbar {
	position:relative;
	display:block;
	font-family:Arial, "Bitstream Vera Sans", Helvetica, Verdana, sans-serif;
	font-size:12px;
	line-height:16px;
	padding:0 0 0 8px;
	overflow:visible;
	height:20px;
	border-top:1px solid #dfdfdf;
	color:#000;
	background-color:#f5f5f5;
}

.rtl .energy2Skin .mceStatusbar {
	padding:0 8px 0 0;
}

.energy2Skin .mceStatusbar * {
	color:#555;
}

.energy2Skin .mceStatusbar div {
	float:left;
	padding:2px;
}

.rtl .energy2Skin .mceStatusbar div {
	float:right;
}

.energy2Skin .mceStatusbar a.mceResize {
	display:block;
	float:right;
	background:url("../../img/icons.gif") -800px 0;
	width:20px;
	height:20px;
	cursor:se-resize;
}

.rtl .energy2Skin .mceStatusbar a.mceResize {
	float:left;
}

.energy2Skin .mceStatusbar a:hover {
	text-decoration:underline;
}

.energy2Skin table.mceToolbar {
	margin:0 6px 2px;
}

.energy2Skin #content_toolbar1 {
	margin-top:2px;
}

.energy2Skin .mceToolbar .mceToolbarEndListBox span {
	display:none;
}

.energy2Skin span.mceIcon,
.energy2Skin img.mceIcon {
	display:block;
	width:20px;
	height:20px;
}

.energy2Skin .mceIcon {
	background:url("../../img/icons.gif") no-repeat 20px 20px;
}

/* Button */
.energy2Skin .mceButton {
	display:block;
	width:20px;
	height:20px;
	cursor:default;
	padding:1px 2px;
	margin:1px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
}

.energy2Skin a.mceButtonEnabled:hover {
	background-image:inherit 0 -10px;
}

.energy2Skin .mceOldBoxModel a.mceButton span, .energy2Skin .mceOldBoxModel a.mceButton img {
	margin:0 0 0 1px;
}

.energy2Skin a.mceButton:active,
.energy2Skin a.mceButtonActive,
.energy2Skin a.mceButtonActive:hover,
.energy2Skin a.mceButtonSelected {
	-webkit-box-shadow:	 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
}

.energy2Skin .mceButtonDisabled .mceIcon {
	opacity:0.5;
	filter:alpha(opacity=50);
}

/* Separator */
.energy2Skin .mceSeparator {
	height:24px;
	width:1px;
	display:block;
	background:transparent;
	overflow:hidden;
	margin:0 2px;
}

/* ListBox */
.energy2Skin .mceListBox,
.energy2Skin .mceListBox a {
	display:block;
}

.energy2Skin .mceListBox .mceText {
	padding:1px 2px 1px 5px;
	text-align:left;
	text-decoration:none;
	width:70px;
	-webkit-border-bottom-left-radius:2px;
	-webkit-border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	border-top-left-radius:2px;
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	font-family:Arial, "Bitstream Vera Sans", Helvetica, Verdana, sans-serif;
	font-size:12px;
	height:20px;
	line-height:20px;
	overflow:hidden;
}

.energy2Skin .mceListBox {
	margin:1px;
	direction:ltr;
}

.energy2Skin .mceListBox .mceOpen {
	width:14px;
	height:20px;
	border-collapse:separate;
	padding:1px;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-top-left-radius:0;
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
}

.energy2Skin .mceListBox .mceOpen span {
	display:block;
	width:14px;
	height:20px;
	background-image:url("img/down_arrow.gif");
	background-position:2px 1px;
	background-repeat:no-repeat;
}

.energy2Skin table.mceListBoxEnabled:hover .mceText,
.energy2Skin .mceListBoxHover .mceText,
.energy2Skin .mceListBoxSelected .mceText,
.energy2Skin table.mceListBoxEnabled:hover .mceOpen,
.energy2Skin .mceListBoxHover .mceOpen,
.energy2Skin .mceListBoxSelected .mceOpen {
	background-image:none;
}

.energy2Skin .mceListBoxDisabled .mceText {
	color:gray;
}

.energy2Skin .mceListBoxMenu {
	overflow:auto;
	overflow-x:hidden;
}

.energy2Skin .mceOldBoxModel .mceListBox .mceText {
	height:22px;
}

.energy2Skin select.mceListBox {
	font-family:Arial, "Bitstream Vera Sans", Helvetica, Verdana, sans-serif;
	font-size:12px;
	border-color:#B2B2B2;
	background-color:#fff;
}

/* SplitButton */
.energy2Skin .mceSplitButton a,
.energy2Skin .mceSplitButton span {
	display:block;
	height:20px;
}

.energy2Skin .mceSplitButton {
	display:block;
	margin:1px;
	direction:ltr;
}

.energy2Skin table.mceSplitButton td {
	padding:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.energy2Skin table.mceSplitButton td a {
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
}

.energy2Skin table.mceSplitButton:hover td {
	background-image:inherit 0 -10px;
}

.energy2Skin .mceSplitButton a.mceAction {
	height:20px;
	width:20px;
	padding:1px 2px;
}

.energy2Skin .mceSplitButton span.mceAction {
	background-image:url("../../img/icons.gif");
	background-repeat:no-repeat;
	background-color:transparent;
	width:20px;
}

.energy2Skin .mceSplitButton a.mceOpen {
	width:10px;
	height:20px;
	background-image:url("img/down_arrow.gif");
	background-position:1px 2px;
	background-repeat:no-repeat;
	padding:1px;
	border-left:0 none !important;
}

.energy2Skin .mceSplitButton span.mceOpen {
	display:none;
}

.energy2Skin .mceSplitButtonDisabled .mceAction {
	opacity:0.3;
	filter:alpha(opacity=30);
}

.energy2Skin .mceListBox a.mceText,
.energy2Skin .mceSplitButton a.mceAction {
	-webkit-border-bottom-left-radius:2px;
	-webkit-border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	border-top-left-radius:2px;
}

.energy2Skin .mceSplitButton a.mceOpen,
.energy2Skin .mceListBox a.mceOpen {
	-webkit-border-bottom-right-radius:2px;
	-webkit-border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	border-top-right-radius:2px;
}

.energy2Skin span.mce_undo,
.energy2Skin span.mce_redo,
.energy2Skin span.mce_bullist,
.energy2Skin span.mce_numlist,
.energy2Skin span.mce_blockquote,
.energy2Skin span.mce_charmap,
.energy2Skin span.mce_bold,
.energy2Skin span.mce_italic,
.energy2Skin span.mce_underline,
.energy2Skin span.mce_justifyleft,
.energy2Skin span.mce_justifyright,
.energy2Skin span.mce_justifycenter,
.energy2Skin span.mce_justifyfull,
.energy2Skin span.mce_indent,
.energy2Skin span.mce_outdent,
.energy2Skin span.mce_link,
.energy2Skin span.mce_unlink,
.energy2Skin span.mce_help,
.energy2Skin span.mce_removeformat,
.energy2Skin span.mce_fullscreen,
.energy2Skin span.mce_wp_fullscreen,
.energy2Skin span.mce_media,
.energy2Skin span.mce_pastetext,
.energy2Skin span.mce_pasteword,
.energy2Skin span.mce_wp_help,
.energy2Skin span.mce_wp_adv,
.energy2Skin span.mce_wp_more,
.energy2Skin span.mce_strikethrough,
.energy2Skin span.mce_spellchecker,
.energy2Skin span.mce_forecolor,
.energy2Skin .mce_forecolorpicker,
.energy2Skin .mceSplitButton .mce_spellchecker span.mce_spellchecker,
.energy2Skin .mceSplitButton .mce_forecolor span.mce_forecolor,
.energy2Skin .mceSplitButton span.mce_numlist,
.energy2Skin .mceSplitButton span.mce_bullist {
	background-image:url(img/icons.png);
}

/* ColorSplitButton */
.energy2Skin div.mceColorSplitMenu table {
	background-color:#ebebeb;
	border-color:#B2B2B2;
}

.energy2Skin .mceColorSplitMenu td {
	padding:2px;
}

.energy2Skin .mceColorSplitMenu a {
	display:block;
	width:9px;
	height:9px;
	overflow:hidden;
	border-color:#B2B2B2;
}

.energy2Skin .mceColorSplitMenu td.mceMoreColors {
	padding:1px 3px 1px 1px;
}

.energy2Skin .mceColorSplitMenu a.mceMoreColors {
	width:100%;
	height:auto;
	text-align:center;
	font-family:Tahoma,Verdana,Arial,Helvetica;
	font-size:11px;
	line-height:20px;
	border-color:#fff;
}

.energy2Skin .mceColorSplitMenu a.mceMoreColors:hover {}
.energy2Skin a.mceMoreColors:hover {}
.energy2Skin .mceColorPreview {
	margin:-5px 0 0 2px;
	width:16px;
	height:4px;
	overflow:hidden;
}

/* Menu */
.energy2Skin .mceMenu {
	position:absolute;
	left:0;
	top:0;
	z-index:1000;
	border-color:#ddd;
}

.energy2Skin .mceNoIcons span.mceIcon {
	width:0;
}

.energy2Skin .mceNoIcons a .mceText {
	padding-left:10px;
}

.energy2Skin .mceMenu table {
	background-color:#ebeaeb;
}

.energy2Skin .mceMenu a,
.energy2Skin .mceMenu span,
.energy2Skin .mceMenu {
	display:block;
}

.energy2Skin .mceMenu td {
	height:20px;overflow:hidden;
}

.energy2Skin .mceMenu a {
	position:relative;
	padding:3px 0 4px 0;
	text-decoration:none !important;
}

.energy2Skin .mceMenu .mceText {
	position:relative;
	display:block;
	font-family:Tahoma,Verdana,Arial,Helvetica;
	cursor:default;
	margin:0;
	padding:0 25px;
	color:#000;
}

.energy2Skin .mceMenu span.mceText, .energy2Skin .mceMenu .mcePreview {
	font-size:12px;
}

.energy2Skin .mceMenu pre.mceText {
	font-family:Monospace;
}

.energy2Skin .mceMenu .mceIcon {
	position:absolute;
	top:0;
	left:0;
	width:22px;
}

.energy2Skin .mceMenu .mceMenuItemEnabled a:hover,
.energy2Skin .mceMenu .mceMenuItemActive {
	background-color:#f5f5f5;
}

.energy2Skin td.mceMenuItemSeparator {
	height:1px;
	background-color:#aaa;
}

.energy2Skin .mceMenuItemTitle a {
	border-top:0;
	border-right:0;
	border-left:0;
	border-bottom:1px solid #aaa;
	text-decoration:none !important;
	background-color:#ccc;
}

.energy2Skin .mceMenuItemTitle span.mceText {
	font-weight:bold;
	padding-left:4px;
	color:#000;
}

.energy2Skin .mceMenuItemSelected .mceIcon {
	background:url("../default/img/menu_check.gif");
	color:#888;
}

.energy2Skin .mceNoIcons .mceMenuItemSelected a {
	background:url("../default/img/menu_arrow.gif") no-repeat -6px center;
}

.energy2Skin .mceMenu span.mceMenuLine {
	display:none;
}

.energy2Skin .mceMenuItemSub a {
	background:url("../default/img/menu_arrow.gif") no-repeat top right;
}

/* Progress,Resize */
.energy2Skin .mceBlocker {
	position:absolute;
	left:0;
	top:0;
	z-index:1000;
	opacity:0.5;
	filter:alpha(opacity=50);
	background:#FFF;
}

.energy2Skin .mceProgress {
	position:absolute;
	left:0;
	top:0;
	z-index:1001;
	background:url("../default/img/progress.gif") no-repeat;
	width:32px;
	height:32px;
	margin:-16px 0 0 -16px;
}

.energy2Skin .mcePlaceHolder {
	border:1px dotted gray;
}

/* Formats */
.energy2Skin .mce_p span.mceText {}
.energy2Skin .mce_address span.mceText {
	font-style:italic;
}

.energy2Skin .mce_pre span.mceText {
	font-family:monospace;
}

.energy2Skin .mce_h1 span.mceText {
	font-weight:bolder;
	font-size:17px;
}

.energy2Skin .mce_h2 span.mceText {
	font-weight:bolder;
	font-size:16px;
}

.energy2Skin .mce_h3 span.mceText {
	font-weight:bolder;
	font-size:15px;
}

.energy2Skin .mce_h4 span.mceText {
	font-weight:bolder;
	font-size:14px;
}

.energy2Skin .mce_h5 span.mceText {
	font-weight:bolder;
	font-size:13px;
}

.energy2Skin .mce_h6 span.mceText {
	font-weight:bolder;
	font-size:12px;
}

/* Theme */
.energy2Skin span.mce_undo {background-position:-500px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_undo,
.energy2Skin .mceButtonActive span.mce_undo {background-position:-500px 0}

.energy2Skin span.mce_redo {background-position:-480px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_redo,
.energy2Skin .mceButtonActive span.mce_redo {background-position:-480px 0}

.energy2Skin span.mce_bullist {background-position:-40px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_bullist,
.energy2Skin .mceButtonActive span.mce_bullist,
.energy2Skin .mceSplitButton:hover span.mce_bullist {background-position:-40px 0}

.energy2Skin span.mce_numlist {background-position:-61px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_numlist,
.energy2Skin .mceButtonActive span.mce_numlist,
.energy2Skin .mceSplitButton:hover span.mce_numlist {background-position:-61px 0}

.energy2Skin span.mce_blockquote {background-position:-80px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_blockquote,
.energy2Skin .mceButtonActive span.mce_blockquote {background-position:-80px 0}

.energy2Skin span.mce_charmap {background-position:-420px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_charmap,
.energy2Skin .mceButtonActive span.mce_charmap {background-position:-420px 0}

.energy2Skin span.mce_bold {background-position:-1px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_bold,
.energy2Skin .mceButtonActive span.mce_bold {background-position:-1px 0}

.energy2Skin span.mce_italic {background-position:-21px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_italic,
.energy2Skin .mceButtonActive span.mce_italic {background-position:-21px 0}

.energy2Skin span.mce_underline {background-position:-280px -19px}
.energy2Skin .mceButtonEnabled:hover span.mce_underline,
.energy2Skin .mceButtonActive span.mce_underline {background-position:-280px 1px}

.energy2Skin span.mce_justifyleft {background-position:-100px -19px}
.energy2Skin .mceButtonEnabled:hover span.mce_justifyleft,
.energy2Skin .mceButtonActive span.mce_justifyleft {background-position:-100px 1px}

.energy2Skin span.mce_justifyright {background-position:-141px -19px}
.energy2Skin .mceButtonEnabled:hover span.mce_justifyright,
.energy2Skin .mceButtonActive span.mce_justifyright {background-position:-141px 1px}

.energy2Skin span.mce_justifycenter {background-position:-120px -19px}
.energy2Skin .mceButtonEnabled:hover span.mce_justifycenter,
.energy2Skin .mceButtonActive span.mce_justifycenter {background-position:-120px 1px}

.energy2Skin span.mce_justifyfull {background-position:-300px -19px}
.energy2Skin .mceButtonEnabled:hover span.mce_justifyfull,
.energy2Skin .mceButtonActive span.mce_justifyfull {background-position:-300px 1px}

.energy2Skin span.mce_indent {background-position:-461px -19px}
.energy2Skin .mceButtonEnabled:hover span.mce_indent,
.energy2Skin .mceButtonActive span.mce_indent {background-position:-461px 1px}

.energy2Skin span.mce_outdent {background-position:-440px -19px}
.energy2Skin .mceButtonEnabled:hover span.mce_outdent,
.energy2Skin .mceButtonActive span.mce_outdent {background-position:-440px 1px}

.energy2Skin span.mce_link {background-position:-161px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_link,
.energy2Skin .mceButtonActive span.mce_link {background-position:-161px 0}

.energy2Skin span.mce_unlink {background-position:-180px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_unlink,
.energy2Skin .mceButtonActive span.mce_unlink {background-position:-180px 0}

.energy2Skin span.mce_help {background-position:-521px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_help,
.energy2Skin .mceButtonActive span.mce_help {background-position:-521px 0}

.energy2Skin span.mce_removeformat {background-position:-381px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_removeformat,
.energy2Skin .mceButtonActive span.mce_removeformat {background-position:-381px 0}

.energy2Skin span.mce_strikethrough {background-position:-540px -18px;}
.energy2Skin .mceButtonEnabled:hover span.mce_strikethrough,
.energy2Skin .mceButtonActive span.mce_strikethrough {background-position:-540px 0}

.energy2Skin .mceSplitButton .mce_forecolor span.mce_forecolor {background-position:-321px -22px}
.energy2Skin .mceSplitButtonEnabled:hover span.mce_forecolor,
.energy2Skin .mceSplitButtonActive span.mce_forecolor {background-position:-321px -2px}

.energy2Skin .mce_forecolorpicker {background-position:-320px -20px}

/* Plugins in WP */
.energy2Skin span.mce_fullscreen {background-position:-240px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_fullscreen,
.energy2Skin .mceButtonActive span.mce_fullscreen {background-position:-240px 0}

.energy2Skin span.mce_wp_fullscreen {background-position:-240px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_wp_fullscreen,
.energy2Skin .mceButtonActive span.mce_wp_fullscreen {background-position:-240px 0}

.energy2Skin span.mce_media {background-position:-401px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_media,
.energy2Skin .mceButtonActive span.mce_media {background-position:-401px 0}

.energy2Skin span.mce_pastetext {background-position:-340px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_pastetext,
.energy2Skin .mceButtonActive span.mce_pastetext {background-position:-340px 0}

.energy2Skin span.mce_pasteword {background-position:-360px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_pasteword,
.energy2Skin .mceButtonActive span.mce_pasteword {background-position:-360px 0}

.energy2Skin span.mce_spellchecker {background-position:-220px -19px}
.energy2Skin .mceButtonEnabled:hover span.mce_spellchecker,
.energy2Skin .mceSplitButtonEnabled:hover span.mce_spellchecker,
.energy2Skin .mceButtonActive span.mce_spellchecker,
.energy2Skin .mceSplitButtonActive span.mce_spellchecker {background-position:-220px 1px}

.energy2Skin span.mce_wp_help {background-position:-521px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_wp_help,
.energy2Skin .mceButtonActive span.mce_wp_help {background-position:-521px 0}

.energy2Skin span.mce_wp_adv {background-position:-260px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_wp_adv,
.energy2Skin .mceButtonActive span.mce_wp_adv {background-position:-260px 0}

.energy2Skin span.mce_wp_more {background-position:-201px -20px}
.energy2Skin .mceButtonEnabled:hover span.mce_wp_more,
.energy2Skin .mceButtonActive span.mce_wp_more {background-position:-201px 0}

/* Default icons */
.energy2Skin span.mce_cleanup {background-position:-380px -20px}
.energy2Skin span.mce_anchor {background-position:-200px 0}
.energy2Skin span.mce_sub {background-position:-600px 0}
.energy2Skin span.mce_sup {background-position:-620px 0}
.energy2Skin span.mce_newdocument {background-position:-520px 0}
.energy2Skin span.mce_image {background-position:-380px 0}
.energy2Skin span.mce_code {background-position:-260px 0}
.energy2Skin span.mce_hr {background-position:-360px 0}
.energy2Skin span.mce_visualaid {background-position:-660px 0}
.energy2Skin span.mce_paste {background-position:-560px 0}
.energy2Skin span.mce_copy {background-position:-700px 0}
.energy2Skin span.mce_cut {background-position:-680px 0}
.energy2Skin .mce_backcolor span.mceAction {background-position:-760px 0}
.energy2Skin .mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.energy2Skin span.mce_advhr {background-position:-0px -20px}
.energy2Skin span.mce_ltr {background-position:-20px -20px}
.energy2Skin span.mce_rtl {background-position:-40px -20px}
.energy2Skin span.mce_emotions {background-position:-60px -20px}
.energy2Skin span.mce_fullpage {background-position:-80px -20px}
.energy2Skin span.mce_iespell {background-position:-120px -20px}
.energy2Skin span.mce_insertdate {background-position:-140px -20px}
.energy2Skin span.mce_inserttime {background-position:-160px -20px}
.energy2Skin span.mce_absolute {background-position:-180px -20px}
.energy2Skin span.mce_backward {background-position:-200px -20px}
.energy2Skin span.mce_forward {background-position:-220px -20px}
.energy2Skin span.mce_insert_layer {background-position:-240px -20px}
.energy2Skin span.mce_insertlayer {background-position:-260px -20px}
.energy2Skin span.mce_movebackward {background-position:-280px -20px}
.energy2Skin span.mce_moveforward {background-position:-300px -20px}
.energy2Skin span.mce_nonbreaking {background-position:-340px -20px}
.energy2Skin span.mce_selectall {background-position:-400px -20px}
.energy2Skin span.mce_preview {background-position:-420px -20px}
.energy2Skin span.mce_print {background-position:-440px -20px}
.energy2Skin span.mce_cancel {background-position:-460px -20px}
.energy2Skin span.mce_save {background-position:-480px -20px}
.energy2Skin span.mce_replace {background-position:-500px -20px}
.energy2Skin span.mce_search {background-position:-520px -20px}
.energy2Skin span.mce_styleprops {background-position:-560px -20px}
.energy2Skin span.mce_table {background-position:-580px -20px}
.energy2Skin span.mce_cell_props {background-position:-600px -20px}
.energy2Skin span.mce_delete_table {background-position:-620px -20px}
.energy2Skin span.mce_delete_col {background-position:-640px -20px}
.energy2Skin span.mce_delete_row {background-position:-660px -20px}
.energy2Skin span.mce_col_after {background-position:-680px -20px}
.energy2Skin span.mce_col_before {background-position:-700px -20px}
.energy2Skin span.mce_row_after {background-position:-720px -20px}
.energy2Skin span.mce_row_before {background-position:-740px -20px}
.energy2Skin span.mce_merge_cells {background-position:-760px -20px}
.energy2Skin span.mce_table_props {background-position:-980px -20px}
.energy2Skin span.mce_row_props {background-position:-780px -20px}
.energy2Skin span.mce_split_cells {background-position:-800px -20px}
.energy2Skin span.mce_template {background-position:-820px -20px}
.energy2Skin span.mce_visualchars {background-position:-840px -20px}
.energy2Skin span.mce_abbr {background-position:-860px -20px}
.energy2Skin span.mce_acronym {background-position:-880px -20px}
.energy2Skin span.mce_attribs {background-position:-900px -20px}
.energy2Skin span.mce_cite {background-position:-920px -20px}
.energy2Skin span.mce_del {background-position:-940px -20px}
.energy2Skin span.mce_ins {background-position:-960px -20px}
.energy2Skin span.mce_pagebreak {background-position:0 -40px}

/* border */
.energy2Skin .mceExternalToolbar,
.energy2Skin .mceButton,
.energy2Skin a.mceButtonEnabled:hover,
.energy2Skin a.mceButtonActive,
.energy2Skin a.mceButtonSelected,
.energy2Skin .mceListBox .mceText,
.energy2Skin .mceListBox .mceOpen,
.energy2Skin table.mceListBoxEnabled:hover .mceText,
.energy2Skin .mceListBoxHover .mceText,
.energy2Skin .mceListBoxSelected .mceText,
.energy2Skin table.mceListBoxEnabled:hover .mceOpen,
.energy2Skin .mceListBoxHover .mceOpen,
.energy2Skin .mceListBoxSelected .mceOpen,
.energy2Skin select.mceListBox,
.energy2Skin .mceSplitButton a.mceAction,
.energy2Skin .mceSplitButton a.mceOpen,
.energy2Skin .mceSplitButton a.mceOpen:hover,
.energy2Skin .mceSplitButtonSelected a.mceOpen,
.energy2Skin table.mceSplitButtonEnabled:hover a.mceAction,
.energy2Skin .mceSplitButton a.mceAction:hover,
.energy2Skin div.mceColorSplitMenu table,
.energy2Skin .mceColorSplitMenu a,
.energy2Skin .mceColorSplitMenu a.mceMoreColors,
.energy2Skin .mceColorSplitMenu a.mceMoreColors:hover,
.energy2Skin a.mceMoreColors:hover,
.energy2Skin .mceMenu {
	border-style:solid;
	border-width:1px;
}

.energy2Skin iframe {
	background:transparent;
}

.energy2Skin .mceButton,
.energy2Skin .mceListBox .mceText,
.energy2Skin .mceListBox .mceOpen {
	border-color:#ccc;
	background-color:#eee; /* Fallback */
	background-image:-ms-linear-gradient(bottom, #ddd, #fff); /* IE10 */
	background-image:-moz-linear-gradient(bottom, #ddd, #fff); /* Firefox */
	background-image:-o-linear-gradient(bottom, #ddd, #fff); /* Opera */
	background-image:-webkit-gradient(linear, left bottom, left top, from(#ddd), to(#fff)); /* old Webkit */
	background-image:-webkit-linear-gradient(bottom, #ddd, #fff); /* new Webkit */
	background-image:linear-gradient(bottom, #ddd, #fff); /* proposed W3C Markup */
}

.energy2Skin a.mceButtonEnabled:hover {
	border-color:#a0a0a0;
	background:#ddd; /* Fallback */
	background-image:-ms-linear-gradient(bottom, #ccc, #fff); /* IE10 */
	background-image:-moz-linear-gradient(bottom, #ccc, #fff); /* Firefox */
	background-image:-o-linear-gradient(bottom, #ccc, #fff); /* Opera */
	background-image:-webkit-gradient(linear, left bottom, left top, from(#ccc), to(#fff)); /* old Webkit */
	background-image:-webkit-linear-gradient(bottom, #ccc, #fff); /* new Webkit */
	background-image:linear-gradient(bottom, #ccc, #fff); /* proposed W3C Markup */
}

.energy2Skin a.mceButton:active,
.energy2Skin a.mceButtonEnabled:active,
.energy2Skin a.mceButtonSelected:active,
.energy2Skin a.mceButtonActive,
.energy2Skin a.mceButtonActive:active,
.energy2Skin a.mceButtonActive:hover {
	background-color:#ddd; /* Fallback */
	background-image:-ms-linear-gradient(bottom, #eee, #bbb); /* IE10 */
	background-image:-moz-linear-gradient(bottom, #eee, #bbb); /* Firefox */
	background-image:-o-linear-gradient(bottom, #eee, #bbb); /* Opera */
	background-image:-webkit-gradient(linear, left bottom, left top, from(#eee), to(#bbb)); /* old Webkit */
	background-image:-webkit-linear-gradient(bottom, #eee, #bbb); /* new Webkit */
	background-image:linear-gradient(bottom, #eee, #bbb); /* proposed W3C Markup */
	border-color:#909090;
}

.energy2Skin .mceButtonDisabled {
	border-color:#ccc !important;
}

.energy2Skin .mceListBox .mceOpen {
	border-left:0 !important;
}

.energy2Skin table.mceListBoxEnabled:hover .mceOpen,
.energy2Skin .mceListBoxHover .mceOpen,
.energy2Skin .mceListBoxHover:active .mceOpen,
.energy2Skin .mceListBoxSelected .mceOpen,
.energy2Skin .mceListBoxSelected .mceText,
.energy2Skin table.mceListBoxEnabled:active .mceText {
	background:#ccc;
	border-color:#999;
}

.energy2Skin table.mceListBoxEnabled:hover .mceText,
.energy2Skin .mceListBoxHover .mceText,
.energy2Skin table.mceListBoxEnabled:hover .mceOpen,
.energy2Skin .mceListBoxHover .mceOpen {
	border-color:#909090;
	background-color:#eee; /* Fallback */
	background-image:-ms-linear-gradient(bottom, #ccc, #fff); /* IE10 */
	background-image:-moz-linear-gradient(bottom, #ccc, #fff); /* Firefox */
	background-image:-o-linear-gradient(bottom, #ccc, #fff); /* Opera */
	background-image:-webkit-gradient(linear, left bottom, left top, from(#ccc), to(#fff)); /* old Webkit */
	background-image:-webkit-linear-gradient(bottom, #ccc, #fff); /* new Webkit */
	background-image:linear-gradient(bottom, #ccc, #fff); /* proposed W3C Markup */
}

/* SplitButton */
.energy2Skin .mceSplitButton a.mceAction,
.energy2Skin .mceSplitButton a.mceOpen {
	border-color:#ccc;
}

.energy2Skin .mceSplitButton a.mceOpen:hover,
.energy2Skin .mceSplitButtonSelected a.mceOpen,
.energy2Skin table.mceSplitButtonEnabled:hover a.mceAction,
.energy2Skin .mceSplitButton a.mceAction:hover {
	border-color:#909090;
}

.energy2Skin table.mceSplitButton td {
	background-color:#eee; /* Fallback */
	background-image:-ms-linear-gradient(bottom, #ddd, #fff); /* IE10 */
	background-image:-moz-linear-gradient(bottom, #ddd, #fff); /* Firefox */
	background-image:-o-linear-gradient(bottom, #ddd, #fff); /* Opera */
	background-image:-webkit-gradient(linear, left bottom, left top, from(#ddd), to(#fff)); /* old Webkit */
	background-image:-webkit-linear-gradient(bottom, #ddd, #fff); /* new Webkit */
	background-image:linear-gradient(bottom, #ddd, #fff); /* proposed W3C Markup */
}

.energy2Skin table.mceSplitButton:hover td {
	background-image:-ms-linear-gradient(bottom, #ccc, #fff); /* IE10 */
	background-image:-moz-linear-gradient(bottom, #ccc, #fff); /* Firefox */
	background-image:-o-linear-gradient(bottom, #ccc, #fff); /* Opera */
	background-image:-webkit-gradient(linear, left bottom, left top, from(#ccc), to(#fff)); /* old Webkit */
	background-image:-webkit-linear-gradient(bottom, #ccc, #fff); /* new Webkit */
	background-image:linear-gradient(bottom, #ccc, #fff); /* proposed W3C Markup */
}

.energy2Skin .mceSplitButtonActive {
	background-color:#B2B2B2;
}

.energy2Skin .mceColorSplitMenu a.mceMoreColors:hover {
	border-color:#0A246A;
	background-color:#B6BDD2;
}

.energy2Skin a.mceMoreColors:hover {
	border-color:#0A246A;
}

.energy2Skin .mceMenuItemDisabled .mceText {
	color:#888;
}

#mceModalBlocker {
	background:#000;
}




.energy2Skin tr.mceFirst td.mceToolbar {
	background:#dfdfdf url(img/ed-bg.gif) repeat-x scroll left top;
	border-color:#dfdfdf;
}


.energy2Skin .mceStatusbar a.mceResize {
	display:block;
	background:transparent url(img/resize.gif) no-repeat scroll right bottom;
	width:12px;
	cursor:se-resize;
	margin:0 2px;
	position:relative;
	top:24px;
}

.ewy_mceBottomBar {
    background:#ededed;
	/*
    -moz-border-radius:0 0 6px 6px;
    -webkit-border-radius:0 0 6px 6px;
    border-radius:0 0 6px 6px;
	*/
    border-style:none solid solid;
    border-width:0 1px 1px;
	padding:12px 7px;
	border-color:#DFDFDF;
}
.post-status-info td {
    font-size:11px;
}
.autosave-info {
    padding:2px 15px 2px 2px;
    text-align:right;
}
/*
#wp-word-count {
    display:block;
    padding:2px 7px;
}*/

.clearlooks2 .mceFocus .mceTop .mceLeft {
	background:#444444;
	border-left:1px solid #999;
	border-top:1px solid #999;
	-moz-border-radius:4px 0 0 0;
	-webkit-border-top-left-radius:4px;
	-khtml-border-top-left-radius:4px;
	border-top-left-radius:4px;
}
.clearlooks2 .mceFocus .mceTop .mceRight {
	background:#444444;
	border-right:1px solid #999;
	border-top:1px solid #999;
	border-top-right-radius:4px;
	-khtml-border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius:0 4px 0 0;
}
.clearlooks2 .mceMiddle .mceLeft {
	background:#f1f1f1;
	border-left:1px solid #999;
}
.clearlooks2 .mceMiddle .mceRight {
	background:#f1f1f1;
	border-right:1px solid #999;
}
.clearlooks2 .mceBottom {
	background:#f1f1f1;
	border-bottom:1px solid #999;
}
.clearlooks2 .mceBottom .mceLeft {
	background:#f1f1f1;
	border-bottom:1px solid #999;
	border-left:1px solid #999;
}
.clearlooks2 .mceBottom .mceCenter {
	background:#f1f1f1;
	border-bottom:1px solid #999;
}
.clearlooks2 .mceBottom .mceRight {
	background:#f1f1f1;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
}
.clearlooks2 .mceFocus .mceTop span {
	color:#e5e5e5;
}
/* end TinyMCE */