<?xml version="1.0" encoding="UTF-8"?><configuration>    <system.webServer>		<handlers>            <remove name="ASPClassic" />            <remove name="PageHandlerFactory-Integrated" />            <remove name="PageHandlerFactory-Integrated-4.0" />            <remove name="PageHandlerFactory-ISAPI-2.0" />            <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />            <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />        </handlers>        <staticContent>            <mimeMap fileExtension=".asp" mimeType="text/plain" />            <mimeMap fileExtension=".aspx" mimeType="text/plain" />        </staticContent>    </system.webServer></configuration>